* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.iconpicker-popover.popover {
    width: 512px;
}

.IconFontPickerField .picker-target {
    float: left;
}

.IconFontPickerField input {
    float: left;
    width: 200px!important;
    margin-right: 12px!important;
}
